* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #333333;
}

button {
  font-family: 'Rubik', sans-serif;
}

path,i,svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: #dddddd;
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: #ffffff;
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* Adjustment Class */
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button, .close-save {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 2rem;
  border: none;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #1d3557;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.panel-library, .panel-generate, .panel-save {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust, .lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

input[type = "range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  background: blue;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  background: blue;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  background: blue;
}

.copy-container, .save-container, .library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.copy-container.active, .save-container.active, .library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup, .save-popup, .library-popup {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 33px -10px rgba(0,0,0,1);
  transition: transform 0.8s;
  transform: translateY(2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-popup.active, .save-popup.active, .library-popup.active {
  transform: translateY(-2rem);
}

.copy-popup h4, .save-popup h4, .library-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}

.save-submit {
  margin: 2rem;
  padding: 1rem 3rem;
  background: #1d3557;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}